body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;

  margin: auto;
  justify-content: space-evenly;
}

.list-todo {
  background-color: white;
  height: 5vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.list-todo2 {
  background-color: rgb(103, 186, 214);
  height: 5vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.red {
  color: red;
}

.active-card {
  background-color: white;
  height: 10vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 30%;
  margin: auto;
  padding: 3rem;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
